{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Clothes</h1>
            {% if clothe_list %}
                <table>
                    <thead>
                        {% comment %} <th>Name</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Is completed</th> {% endcomment %}
                    </thead>
                    <tbody>
                        {% for clothe in clothe_list %}
                            <tr>
                                <td>{{ clothe.name }}</td>
                                {% if clothe.image %}
                                <td><img src="{{ clothe.image }}" class="clothe-image"></td>
                                {% endif %}
                                <td>
                                    {% if not clothe.is_laundry %}
                                        <form method = "post" action = "{% url 'complete_clothe' clothe.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="is_completed" value = "True">
                                            <button>In Laundry</button>
                                        </form>
                                    {% endif %}
                                    {{ clothe.is_laundry|yesno:"Yes," }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no clothes</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}