@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.container{
    position: relative;
    width: 400px;
}

.clothe-image-dark {
    display: block;
    filter: brightness(.3);
    max-width: 400px;
    max-height: auto;
}

.clothe-image {
    display: block;
    filter: brightness(1);
    max-width: 400px;
    max-height: auto;
}

.overlay{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 400px;
    opacity: 0;
    transition: .5s ease;
    background-color: #464b4d;
    pointer-events: none;
}

.container:hover .overlay{
    opacity: .8;
}

.text {
    color: white;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: none;
  }